{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>Document</title>
</head>

<body>
    <h1>{{ question.text }}</h1>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %} {% for choice in question.choice_set.all %}
        <div class="input-group">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"><label for="choice{{ forloop.counter }}">{{choice.text}}</label>
        </div><br> {% endfor %}
        <input type="submit" value="Vote">
    </form>
    <script>
        const inputGroup = document.querySelectorAll('.input-group');
        const radioButtons = document.querySelectorAll('.input-group input');
        inputGroup.forEach(e => {
            e.addEventListener('click', () => {
                e.children[0].checked = true;
                radioButtons.forEach(r => {
                    if (r.checked == true) r.parentElement.classList.add('active');
                    else r.parentElement.classList.remove('active');
                });
            })
        });
    </script>
</body>

</html>
